@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Hind', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.intro-div{
    background-image: url('images/Home-Hero-IMG.jpg');
    background-size: cover;
}

.intro-text{
    position: relative;
    text-align: left;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
  width: 50%;
  padding: 0 30px;
  color: black;
}
.intro-p{
    position: relative;
    text-align: left;
    font-size: 20px;
    width: 50%;
    padding: 0 30px;
    color: white;



}




/* //////////////////////////////////////////////// */
body{
    /* background-color: blueviolet; */
}
nav .logo-div{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
nav .logo
{
    display: flex ;
    
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 40px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 0 10px;
    flex-wrap: wrap;
}
input[type="checkbox"]{
    display: none;
}
@media(min-width:1000px){



    
.intro-text{
    position: relative;
    text-align: left;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
  width: 100%;
  padding: 0 30px;
  color: white;
}
.intro-p{
    position: relative;
    text-align: left;
    font-size: 20px;
    width: 50%;
    padding: 0 30px;
    color: white;
}
nav .menu-btn i{
    color:#38D552;
    font-size: 20px;
    display: none;
   
}



nav{
    /* background-color: black; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 86px;
    
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li{
    margin: 0 10px;
}

nav ul li a.active{
    background-color:#38D552;
    color: white;
}
nav ul li a.active:hover{
    background-color:black;
    color: white;
    transition: 0.5s;
    letter-spacing: 2px; 
    

}
nav ul li a:hover {
    color: #38D552;
    transition: 0.5s ease-in-out ;
    letter-spacing: 2px;  

}
#click{
    display: none;
}
}
/* ############    MOBILE VIEW ############ */
@media(max-width:1000px){
    .intro-text{
        position: relative;
        text-align: left;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
      width: 50%;
      padding: 0 30px;
      color: white;
      margin: 70px 0 0 0;
    }
    .intro-p{
        position: relative;
        text-align: left;
        font-size: 10px;
        width: 50%;
        padding: 0 30px;
        color: white;
    




    nav ul.right{
        
        position: fixed;
        top: 200px;
        left: 0%;
        
        /* right: 100%; */
        /* background: black; */
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        color: black;
    }
    nav ul.left{
        
        position: fixed;
        top: 75px;
        left: 0%;
        /* right: 100%; */
        /* background: black; */
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        color: black;
        
    }
    #click:checked ~ nav ul.left{
        left: 100%;
        


    }
    nav{
        background-color: white;

        padding: 0 40px 0 50px;

    }
    nav ul li{
        margin: 20px 0 0 0;
    }
   
    nav ul li a.active{
        background-color:#38D552;
        color: white;
        /* box-shadow: 5px 10px white; */
        
    
    }
    nav ul li a.active:hover{
        background-color:black;
        color: white;
        transition: 0.5s;
        letter-spacing: 0.5px; 
        /* filter: drop-shadow(0 0 0.2rem #38D552); */
        /* filter: drop-shadow(8px 4px 2px #38D552); */
        
    }
    nav .menu-btn i{
        color:#38D552;
        font-size: 20px;
        display: flex;
        align-items: center;

        cursor: pointer;
    }
}